.LikeVideos__Card {
 width: 100%;
 display: flex;
 padding: 1.5rem;
 margin-bottom: 0.5rem;
}

.LikeVideos__Card:hover {
 background-color: var(--HoverColor);
}

.LikeVideos__Imge_Div {
 width: 120px;
 height: 180px;
 margin-right: 1rem;
}

.LikeVideos__Imge_Div img {
 width: 100%;
 height: 100%;
}

.LikeVideos__Content h3 {
 color: var(--MainColor);
}

.LikeVideos__Content p {
 color: var(--VideoSubTitleColor);
 margin: 0.5rem 0;
 max-width: 800px;
}
